@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Member Page";
}

<div class="text-center">
    <h1 class="display-4">Member Page</h1>
    <p>Page yang hanya dapat diakses member setelah login</a>.</p>
</div>